# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/Moderatingbot.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
cogs/__pycache__/
venv/
#config
*.ini
*.db
*.log
